.container {
  display: flex;
  flex-direction: column;
  gap: 5px; 
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

.con {
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  margin: 1rem -15px 0;
}
